<nav class="navbar navbar-expand-md Rectangle">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <img src="assets/img/woolworth.png"
     srcset="assets/img/woolworth@2x.png 2x,
     assets/img/woolworth@3x.png 3x"
     class="woolworth">
     <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a class="nav-link m-2 menu-item nav-active">{{ user?.email }} <i class="fa fa-user-circle"></i> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link m-2 menu-item" (click)="OnLogout()" *ngIf="islogged" >Logout</a>
            </li>
        </ul>
    </div>
    <p class="navbar-brand abs Ttulo" >Noticias</p>
</nav>