<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="/assets/img/woolworth.png"
     srcset="/assets/img/woolworth@2x.png 2x,
     /assets/img/woolworth@3x.png 3x"
     class="woolworth">
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
      </ul>
    </div>
  </nav>